.sidebar {
  background-color: rgb(251, 251, 255);
  flex: 1;
  height: calc(100vh - 50px);
  position: sticky;
  top: 50px;
  width: fit-content !important;
  transition:  0.3s ease;
  z-index: 999999;
}

@media (max-width: 768px) {
  .sidebar {
    width: 250px !important;
    position: absolute;
    width: 270px;
    height: 100% !important;
    left: 0;
    transform: translate3d(6px,0px,0px);
    transition:  0.3s ease;
  }
  .widgetContainer {
    flex-direction: column !important;
  }
  .widgetSm {
    margin: 0px !important;
  }
  .WidgetLg {
    margin: 0px !important;
  }
  .chart {
    margin: 0px !important;
  }
  .featuresItem {
    margin: 0px !important;
  }
}

.sidebarContainer {
  padding: 20px;
  color: #555;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 13px;
  color: rgb(187, 186, 186);
}

.sidebarList {
  padding: 5px;
}

.sidebarItems {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}


.sidebarIcon {
  margin-right: 5px;
  font-size: 20px;
}

/*  */

/* Add this CSS in your stylesheet */
.sidebar {
  @media only screen and (max-width: 768px) {
    /* Hide the sidebar by default on smaller screens */
    display: none;
    transition: 0.5s;
  }
}

@media only screen and (max-width: 768px) {
  .sidebar.show {
    display: inline-block;
    transition:  0.3s ease;
  }
}

.toggleButton {
  /* Style your toggle button as needed */
  display: none; /* Hide the button on larger screens */

  @media only screen and (max-width: 768px) {
    /* Display the button on smaller screens */
    display: block;
  }
}
